/* design-guideline.css */
:root {
    --color-cyan-500: #134cdf;
    --color-magenta-500: #f3542b;
    --color-yellow-500: #f7b62e;
    --color-zinc-50: #FAFAFA;
    --color-zinc-100: #F4F4F5;
    --color-zinc-200: #E4E4E7;
    --color-zinc-300: #D4D4D8;
    --color-zinc-400: #A1A1A9;
    --color-zinc-500: #717179;
    --color-zinc-600: #52525A;
    --color-zinc-700: #3F3F45;
    --color-zinc-800: #27272A;
    --color-zinc-900: #18181B;

    --color-white-100: #ffffff;
    --color-white-80: #ffffffcc;
    --color-white-60: #ffffff99;
    --color-white-50: #ffffff80;
    --color-white-40: #ffffff66;
    --color-white-20: #ffffff33;
    --color-white-5:  #ffffff0d;

    --font-line-height-xs: 1rem; /*16px*/
    --font-line-height-sm: 1.25rem; /*20px*/
    --font-line-height-base: 1.5rem; /*24px*/
    --font-line-height-lg: 1.75rem; /*28px*/
    --font-line-height-xl: 1.75rem; /*28px*/
    --font-line-height-2xl: 2rem; /*32px*/
    --font-line-height-100: 1.2;
    
    --font-size-xs: 0.75rem; /*12px*/
    --font-size-sm: 0.875rem; /*14px*/
    --font-size-base: 1rem; /*16px*/
    --font-size-lg: 1.125rem; /*18px*/
    --font-size-xl: 1.25rem; /*20px*/
    --font-size-2xl: 1.5rem; /*24px*/
    --font-size-4xl: 2.25rem; /*36px*/
    --font-size-5xl: 3rem; /*48px*/

    
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --font-family: 'Noto Sans TC', 'Roboto', sans-serif;

}

h2{
    font-size: var(--font-size-5xl);
    line-height: var(--font-line-height-100);
    font-weight: var(--font-weight-700);
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}

h3{
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-height-100);
    font-weight: var(--font-weight-500);
    font-family: var(--font-family);
    margin: 16px 0;
    padding: 2px 8px;
    background-color: var(--color-white-80);
    color: var(--color-cyan-500);
    border-radius: 4px;
    display: inline;
}

p{
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
    margin: 0;
    padding: 12px 0 4px 0;
}

ul{
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
}
  
.text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--font-line-height-xs);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
}

.text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--font-line-height-sm);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
}

.text-base {
    font-size: var(--font-size-base);
    line-height: var(--font-line-height-base);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
}

.text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--font-line-height-lg);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
}

.text-lg-500 {
    font-size: var(--font-size-lg);
    line-height: var(--font-line-height-lg);
    font-weight: var(--font-weight-500);
    font-family: var(--font-family);
}

.text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-height-xl);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
}

.text-2xl {
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-height-2xl);
    font-weight: var(--font-weight-400);
    font-family: var(--font-family);
}

.text-2xl-500 {
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-height-2xl);
    font-weight: var(--font-weight-500);
    font-family: var(--font-family);
}