/* decor and img, id = opening */
.decor-opening {
    max-width: 1440px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.decor-img-decor {
    position: absolute;
    background-repeat: no-repeat;
    width: 160px;
    height: 144px;
    background-size: cover; 
    top: 8vh;
    left: 8vw;
    transform: translate(50%, 50%); 
    opacity: 1;
}

.decor-img-center {
    position: absolute;
    background-repeat: no-repeat;
    width: 1360px;
    height: 1290px;
    background-size: cover; 
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); 
    opacity: 1;
}

/* decor and img, id = intro */
.decor {
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}


.decor-up, .decor-down, .decor-mid {
    position: absolute;
    background-repeat: no-repeat;
    top: 80px;
    right: 80px;
    width: 600px;
    height: 540px;
    background-size: cover; 
    transform: translate(0%, 0%); /* 使圖片中心與容器中心對齊 */
    opacity: 1;
}

/* decor and img, id = learn */
#learn .decor-up, #learn .decor-down{
    top: 800px;
    right: 80px;
    width: 540px;
    height: 340px;
}

/* decor and img, id = arrange */
#arrange .decor-up, #arrange .decor-down, #arrange .decor-mid {
    top: 400px;
    right: 80px;
}

/* decor and img, id = emotions */
#emotions .decor-up, #emotions .decor-down{
    top: 400px;
    left: 0;
    width: 600px;
    height: 600px;
}

  
/* Animation classes */
  
.fade-in {
    animation: fade-in 1.6s ease-in forwards;
}

.fade-in-smooth{
    animation: fade-in-smooth 1.6s ease-in forwards;
}

.fade-out {
    animation: fade-out 1.6s ease-out forwards;
}

.fade-out-smooth {
    animation: fade-out-smooth 1.6s ease-out forwards;
}


/* Animation keyframes */

@keyframes fade-in {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100px);
    }
}

@keyframes fade-in-smooth {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-60px);
    }
}

@keyframes fade-out-smooth {
    0% {
        transform: translateX(-60px);
    }

    100% {
        transform: translateX(0);
    }
}
  